@model BrandStore.Models.Brand
@{
    Layout = "_LayoutSuperAdmin";
}
@* justify-content-center align-items-center*@
<html>
<head>
    <style>
        #cover {
            background: #d6f9da center no-repeat;
            background-size: cover;
            height: 100%;
            text-align: center;
            display: flex;
            align-items: center;
            position: relative;
        }

        #cover-caption {
            width: 100%;
            position: relative;
            z-index: 1;
        }

        /* only used for background overlay not needed for centering */
        form:before {
            content: '';
            height: 100%;
            left: 0;
            position: absolute;
            top: 0;
            width: 100%;
            background-color: rgba(0,0,0,0.8);
            z-index: -1;
            border-radius: 10px;
        }
    </style>
</head>
<body>
    <div class="main-content">
        <div id="cover-caption">
            <div class="container">
                <div class="row text-white">
                    <div class="col-xl-5 col-lg-6 col-md-8 col-sm-10 mx-auto text-center form p-4">
                        <h1 class="display-4 py-2 text-white">Marka Ekle</h1>
                        <div class="px-2">
                            <form action="" class="justify-content-center">
                                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                <div class="form-group">
                                    <label asp-for="Name" class="control-label"></label>
                                    <input asp-for="Name" class="form-control" />
                                    <span asp-validation-for="Name" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="Description" class="control-label"></label>
                                    <input asp-for="Description" class="form-control" />
                                    <span asp-validation-for="Description" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="PhotoFile" class="control-label"></label>
                                    <input asp-for="PhotoFile" class="form-control" />
                                    <span asp-validation-for="PhotoFile" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <input type="submit" value="Ekle" class="btn btn-block btn-success" />
                                </div>

                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}