@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <a class="navbar-brand nav-link" asp-area="" asp-controller="Brands" asp-action="Create">BAS</a>
</div>
