@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer localizer;
@model IEnumerable<BrandStore.Models.BasketItem>

<html>
<head>
    <style>
        .card{
            margin: 20px;

        }
    </style>
</head>
<body>
    <section class="static about-sec">
        <br /><br />
        <div class="container">
            <h1 class="text-center">@localizer["Title"]</h1>
            @foreach (var item in Model)
            {
                <div class="card row">
                    <h5 class="card-header">@item.Product.Name</h5>
                    <div class="card-body col-lg-8 col-md-6">
                        <h5 class="card-title">Fiyat: $@item.Product.Price</h5>
                        <p class="card-text">@item.Product.Description</p>
                        
                    </div>
                    <div class="card-body col-lg-4 col-md-2">
                        <img src="~/img/@item.Product.MainPhoto" width="80" class="rounded-full ">
                    </div>
                </div>
            }
        </div>
    </section>
</body>
</html>