@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer localizer;
@model IEnumerable<BrandStore.Models.FavoriteItem>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<head>
    <link href="https://unpkg.com/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet" />
    <link href="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.x.x/dist/alpine.min.js" rel="stylesheet" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />
    <style>
        .card {
            margin: 50px;
            margin-block-start: 50px;
            border: 0px green;
        }
    </style>
</head>
<body>

    <div class="card p-4 px-5 py-5 justify-content-center">
        <div class="md:grid md:grid-cols-3 gap-2 ">
            <div class="col-span-2 p-5">
                <h1 class="text-xl font-medium ">@localizer["Title"]</h1>
                @if (Model != null)
                {
                    @if (Model.Any())
                    {
                        @foreach (var _basket in Model)
                        {
                            <div class="">
                                <div class="flex justify-between items-center mt-6 pt-6">
                                    <div class="flex items-center">
                                        <img src="~/img/@_basket.Product.MainPhoto" width="60" class="rounded-full ">
                                        <div class="flex flex-col"> <span class="md:text-md font-medium"> @_basket.Product.Name</span> <span class="text-xs font-light text-gray-400"></span> </div>
                                    </div>
                                    <div class="flex justify-center items-center">
                                        <div class="pr-8 md:text-md font-medium"> <span class="text-xs font-medium">Price: $@_basket.Product.Price</span> </div>
                                        <div><a asp-action="RemoveFromFavorites" asp-route-productId="@_basket.Product.Id"><i class="fa fa-close text-xs font-medium"></i></a></div>
                                    </div>
                                </div>
                            </div>
                        }
                    }
                }
                else
                {
            <p style="margin-left:50px;">@localizer["FavoriteLooksEmpty"]</p>
                }
            </div>
        </div>
    </div>

</body>
