@model BrandStore.Models.Product
@{
    Layout = "_LayoutAdmin";
}
<html>
<head>
    <style>
        #cover {
            background: #d6f9da center center no-repeat;
            background-size: cover;
            height: 100%;
            text-align: center;
            display: flex;
            align-items: center;
            position: relative;
        }

        #cover-caption {
            width: 100%;
            position: relative;
            z-index: 1;
        }

        /* only used for background overlay not needed for centering */
        form:before {
            content: '';
            height: 100%;
            left: 0;
            position: absolute;
            top: 0;
            width: 100%;
            background-color: rgba(0,0,0,0);
            z-index: -1;
            border-radius: 10px;
        }
    </style>
</head>
<body>
    <div class="main-content">
        <div id="cover-caption">
            <div class="container">
                <div class="mx-auto text-center form p-4">
                    <h1 class="display-4 py-2 text-black-50">Product Add</h1>
                    <div class="card">
                        <form asp-action="Create" enctype="multipart/form-data">
                            <div class="row col-lg-12 col-md-8 col-sm-6">
                                <div class="col-md-6">
                                    <div asp-validation-summary="ModelOnly" class="text-black-50"></div>
                                    <div class="form-group">
                                        <label asp-for="Name" class="control-label"></label>
                                        <input asp-for="Name" class="form-control" placeholder="Name" />
                                        <span asp-validation-for="Name" class="text-black-50"></span>
                                    </div>
                                    <div class="form-group">
                                        <label asp-for="Description" class="control-label"></label>
                                        <input asp-for="Description" class="form-control" placeholder="Description" />
                                        <span asp-validation-for="Description" class="text-black-50"></span>
                                    </div>
                                    <div class="form-group">
                                        <label asp-for="Size" class="control-label"></label>
                                        <input asp-for="Size" class="form-control" placeholder="Size" />
                                        <span asp-validation-for="Size" class="text-black-50"></span>
                                    </div>
                                    <div class="form-group">
                                        <label asp-for="Price" class="control-label"></label>
                                        <input asp-for="Price" class="form-control" placeholder="Price" />
                                        <span asp-validation-for="Price" class="text-black-50"></span>
                                    </div>
                                    <div class="form-group">
                                        <label asp-for="Stock" class="control-label"></label>
                                        <input asp-for="Stock" class="form-control" placeholder="Stock" />
                                        <span asp-validation-for="Stock" class="text-black-50"></span>
                                    </div>
                                    <div class="form-group">
                                        <label asp-for="Gender" class="control-label"></label>
                                        <input asp-for="Gender" class="form-control" placeholder="Gender" />
                                        <span asp-validation-for="Gender" class="text-black-50"></span>
                                    </div>
                                </div>


                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label asp-for="BrandId" class="control-label"></label>
                                        <input asp-for="BrandId" class="form-control" type="text" value=@ViewBag.BrandId>
                                    </div>
                                    <div class="form-group">
                                        <label asp-for="CategoryId" class="control-label"></label>
                                        <select asp-for="CategoryId" class="form-control" asp-items="ViewBag.CategoryId"></select>
                                    </div>
                                    <div class="form-group">
                                        <label asp-for="MainPhotoFile" class="control-label"></label>
                                        <input asp-for="MainPhotoFile" class="form-control" />
                                        <span asp-validation-for="MainPhotoFile" class="text-black-50"></span>
                                    </div>
                                    <div class="form-group">
                                        <label asp-for="SecondPhotoFile" class="control-label"></label>
                                        <input asp-for="SecondPhotoFile" class="form-control" />
                                        <span asp-validation-for="SecondPhotoFile" class="text-black-50"></span>
                                    </div>
                                    <div class="form-group">
                                        <label asp-for="ThirdPhotoFile" class="control-label"></label>
                                        <input asp-for="ThirdPhotoFile" class="form-control" />
                                        <span asp-validation-for="ThirdPhotoFile" class="text-black-50"></span>
                                    </div>
                                </div>
                            </div>

                            <div class="row card-group">
                                <div class=" col-lg-12 col-md-8 col-sm-6">
                                    <div class="form-group">
                                        <input type="submit" value="Ekle" class="btn btn-block btn-success" />
                                    </div>
                                </div>
                            </div>

                        </form>
                        <form asp-action="Index" class="justify-content-center">
                            <div class="row card-group">
                                <div class=" col-md-12">
                                    <div class="form-group">
                                        <input type="submit" value="Listeye Don" class="btn btn-block btn-success" />
                                    </div>
                                </div>

                            </div>
                        </form>
                    </div>
                </div>
            </div>

        </div>
    </div>

</body>
</html>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}